* {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  	/*This puts border and padding inside element for all elements*/
}

/*property order convention:

selector {
	positioning

	display and box model

	color

	text

	other
}*/


body {
	display: block;
	margin: 0;
	padding: 0;
}

div#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	overflow: hidden;
	width: 200px;
	height: 100%;
	background-color: #F1F1F1;
	
}

div#sidebar:hover {
	overflow: auto;
}

div#container {
	width: auto;
	margin: 0 0 0 200px;
}

header {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	height: auto;
	box-shadow: 0px 1px 2.5px 0px rgba(0,0,0,0.19), 0px 1px 5px 0px rgba(0,0,0,0.19);
	background-color: #5F5F5F;
}

#nav {
	list-style: none;
	margin: 0;
	padding: 0;
	/*hiding overflow seems to set boundaries of ul to page dimensions and height of li (or a), rather than just disappearing like it would without this*/
	background-color: #333;
}

#nav>li {
	float: left;
	position: relative;
	display: inline-block;	
}

li a {
	display: inherit;
	padding: 10px 12px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-family: Verdana, sans-serif;
}

li a:hover {
	background-color: green;
}

#nav ul {
	position: absolute;
	top: 100%;
	/*right: 0; will fix this pulldown list flush to the right side of the pulldown link*/
	display: none;
	list-style: none;
	white-space: nowrap;
	min-width: auto;
	padding: 0;
	/*box-shadow: h-length v-length blur-radius spread-radius red-green-blue-alpha(alpha is opacity, from 0 transparent to 1 fully opaque), [optional next shadow];

	Do webkit and moz to enhance browser compatibility*/
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.19), 0px 2px 10px 0px rgba(0,0,0,0.19);
	margin: 0;
	background-color: #fff;
}

#nav ul a {
	color: black;
	text-align: left;
}

#nav li:hover ul {
	display: block;
}

#nav li:hover a:hover {
	color: white;
	display: inherit;
}

main {
	width: 100%;
	height: auto;
}

article {
	margin: 50px 25px;
}

section {
	overflow: auto;
}

div#cicero {
	position: relative;
	float: right;
	max-height: 200px;
	max-width: 100px;
	min-height: 100px;
	min-width: 50px;
	margin: 0 0 12px 20px;
}

#cicero>img {
	max-height: 100%;
	max-width: 100%;
}

#cicero span {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 1;
	visibility: hidden;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 6px;
    background-color: black;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}

#cicero:hover span {
	visibility: visible;
	opacity: 1;
}

p {
	text-align: justify;
	display: block;
}

#cicero span::after {
	position: absolute;
	bottom: 100%;
	left: 46%;
	right: 46%;
	border-style: solid;
	border-color: transparent transparent black transparent;
	content: " ";
}

p:first-of-type::first-line {
	font-variant: small-caps;
}
p::selection {
	background-color: purple;
	color: white;
}