* {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  	/*This puts border and padding inside element for all elements*/
}


body {
	display: block;
	margin: 0;
	padding: 0;
}

div#sidebar {
	position: fixed;
	left: 0px;
	background-color: green;
	width: 200px;
	height: 100%;
	overflow: hidden;
}

div#sidebar:hover {
	overflow: auto;
}

div#container {
	width: auto;
	margin: 0 0 0 200px;
}

header {
	width: 100%;
	height: 80px;
	background-color: #5F5F5F;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: auto;
}

li a {
	display: block;
	color: #fff;
	padding: 10px 0;
	text-decoration: none;
	text-align: center;
	font-family: Verdana, sans-serif;
}

li a.active {
	background-color: cyan;
}

li a:hover:not(.active) {
	background-color: green;
}

main {
	width: 100%;
	height: auto;
}

article {
	margin: 25px;
}

section {
	overflow: auto;
}

img {
	max-height: 200px;
	width: auto;
	position: relative;
	float: right;
	margin: 5px 0 5px 15px;
}

h1::before {
	content: url("http://www.nadiareisenberg-clararockmore.org/images/img8.gif");
}

div.mysquares {
	width: 200px;
	height: 100px;
	background-color: yellow;
	display: inline-block;
}

p {
	text-align: justify;
	display: block;
}

div.mysquares:hover {
	background-color: cyan;
}

div.mysquares:active {
	background-color: blue;
}

p:first-of-type::first-line {
	font-variant: small-caps;
}
p::selection {
	background-color: purple;
	color: white;
}